* {
    box-sizing: border-box;
}

body{
    font-family: normal 16px PT Serif, Arial, sans-serif;
    min-height: 2000px;
    padding-top: 75px;
}

/* Parallax'ing */

.parallax {
    background: url("../img/background/abstract-astro-astronomy-956999.jpg");
    background-size: cover;
    height: 100%;
}

section.parallax h1, h2 {
    font-family: normal 25px Josefin Sans;
    font-weight: 400;
}

section.parallax h1  {
    font-size: 64px;
    margin: auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 25px;
}

section.parallax h3  {
    font-style: italic;
    margin: auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.parallax-inner {
    padding-top: 20%;
    padding-bottom: 26%;
}

.lines::before {
    content: " ";
    width: 80px;
    line-height: 2px;
    color: white;
}

.block-button-container {
    text-align: center;
    padding: 25px;
}

.block-button-container a {
    font-family: normal 25px Open Sans;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}

.resume-button-format {
    background-color: transparent;
    border: 2px solid white;
    text-decoration: none;
    padding: 20px;
}

.resume-button-format:hover {
    background-color: white;
    transition: 0.1s linear;
}

.resume-button-format a:hover {
    color: black;
    text-decoration: none;
    transition: 0.1s linear;
}

/* Home Page Navigation */

.site-logo {
    font: normal 25px Josefin Sans;
    color: #1c1c1c;
    text-transform: uppercase;
    padding-top: 30px;
    text-decoration: none;
    font-weight: 400;
}

.navbar {
    background: white;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    background-attachment: scroll;
}

.navbar-brand {
    height: 75px;
}

.navbar-header a:hover,:focus {
    color: rgb(128, 128, 128);
    transition: linear .5s;
}

.navbar-nav a {
    background-color: white;
}

.navbar-custom {
    font: normal 16px Josefin Sans;
    padding-top: 15px;
    text-transform: uppercase;
}

.navbar-custom li a {
    color: #616161;
}

.navbar-custom li a:hover {
    color: black;
    background-color: white;
    transition: linear .5s;
}

/* Home Content */

.section-text {
    text-align: center;
    padding-top: 75px;
}

.myphoto img {
    width: 300px;
    height: 375px;
    float: right;
    margin: 40px 10px;
}

/* Resume Section */

.heading-format {
    text-transform: uppercase;
}

.section-padding {


    padding-bottom: 20px;
}

.resume-section-title-padding {
    padding: 5px 0 0 25px;
}

.resume-section-title {
    font-weight: 100;
    font-size: 26px;
}

.heading-format span {
    font-weight: 400;
}

li {
    display: block;
}

.resume-lists li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    position: relative;
    margin-right: 10px;
    top: 0px;
    color: #ccc;
}

/* Contact Section */

.contact-section {
    background: rgb(237, 237, 237);
    width: 100%;
}

/* Scrolling Button CSS */

#topscroll-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(53, 53, 53);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
#topscroll-button:hover {
    background-color: #555;
  }